@import url(style.css);

/* NAVBAR */

.header__nav {
  display: flex;
  flex: 1;
  position: sticky;
  top: 0;
  z-index: 1;
  max-height: 10vh;
  background-color: white;
  max-width: 100%;
}

.header__logo img {
  max-width: 90px;
  height: auto;
}

.header__logo {
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.logo__text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: -15px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
}

.logo__title {
  display: inline-block;
  font-weight: bolder;
  font-size: 3rem;
  color: var(--UNIVERSITY-GREEN);
  border-bottom: 2px solid var(--UNIVERSITY-GREEN);
  margin-bottom: 3px;
  line-height: 0.8;
}

.logo__caption {
  color: var(--UNIVERSITY-GREEN);
  font-size: 12px;
}

.header__ul {
  position: relative;
  background: var(--UNIVERSITY-GREEN);
  border-bottom-left-radius: 60px;
  overflow: visible;
}

.header__ul::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: -60px;
  top: 0;
  background: white;
  border-bottom-right-radius: 60px;
}

.header__ul ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  padding: 1.5rem 3rem 0;
  gap: 1rem;
}

.header__ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border: 1px solid var(--BORDER);
  padding: 0.7rem 1rem;
  border-radius: 35px;
}

.header__ul a:hover {
  color: var(--UNIVERSITY-GREEN);
  background-color: white;
}

.nav__contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border: none;
  background: white;
  color: black;
  border: none;
  padding: 0.9rem 1.7rem;
  border-radius: 999px;
}

.nav__contact a:hover {
  background: white;
  color: black;
}

.nav__contact svg {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

/* HERO SECTION */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__badge {
  padding: 0.5rem;
  border: 2px solid var(--UNIVERSITY-GREEN);
  border-radius: 35px;
  font-size: 1rem;
  margin: 0 2rem 1rem;
  color: var(--UNIVERSITY-GREEN);
}

.hero__h1 {
  font-size: 4rem;
}

.hero__h1 span {
  color: var(--UNIVERSITY-GREEN);
  font-style: italic;
}

.hero__quote {
  font-size: 1rem;
}

.hero__buttons a {
  border-radius: 35px;
  display: flex;
  gap: 1rem;
}

.hero__buttons a:first-child {
  background-color: var(--UNIVERSITY-GREEN);
  color: white;
  border: 2px solid var(--UNIVERSITY-GREEN);
}

.hero__buttons a:last-child {
  border: 2px solid var(--UNIVERSITY-GREEN);
  color: var(--UNIVERSITY-GREEN);
}

.hero__buttons a:hover,
.hero__buttons a:focus {
  background-color: var(--UNIVERSITY-GREEN);
  color: white;
}

.hero__left,
.hero__right {
  flex: 1;
}

.hero__right {
  padding: 2rem;
  margin: 1rem;
}

.hero__main-image img {
  border-radius: 15px;
  width: 100%;
  max-width: 650px;
  height: auto;
  border: 2px solid white;
}

.hero__float-image img {
  border-radius: 15px;
  position: absolute;
  width: 40%;
  max-width: 300px;
  height: auto;
  border: 5px solid white;
}
