* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;  This makes sure that padding and border are included in the total width and height of the element */
  box-sizing: content-box; /* This is the default value, where width and height only include the content, and padding and border are added outside of it */
  box-sizing: border-box; /* This makes sure that padding and border are included in the total width and height of the element */
}

.container {
  border: 10px outset red;

  /* border-top: 10px outset red;
border-right: 10px outset red;
border-top-color: red;
border-top-style: outset;
border-top-width: 10px; */

  font-size: 1.5rem;
  /* margin: 1.5em 2em; This is a shorthand for setting margin-top, margin-right, margin-bottom, and margin-left in one line */
  margin: 1.5em; /* This sets all four margins to the same value */
  /* margin-top: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em; */
  padding: 1.5em;

  outline: 5px solid purple;
  outline-offset: -20px;
}

.circle {
  margin: 3rem auto;
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 50%;
}
